.container {
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: #222222;
    width: 500px;
    height: 500px;
}
.wrap {
    display: flex;
    background-color: aqua;
    width: 400px;
    flex-direction: column;
    justify-content: space-around;
}
.row {
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    height: 100%;
    width: 100%;
}
.row_item {
    display: flex;
    border-style: double;
    height: 100%;
    width: 100%;
}